<!--Footer Starts-->
<footer
  class="w-100 py-4 flex-shrink-0"
  style="border-start-start-radius: 10px; border-start-end-radius: 10px"
>
  <div class="container py-4">
    <div class="row gy-4 gx-5">
      <div class="col-lg-4 col-md-6">
        <a class="text-white" href="/">
          <h4 class="text-white">Bakeology</h4>
        </a>
        <p class="small text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt.
        </p>
        <p class="small text-muted mb-0">
          &copy; Copyrights. All rights reserved.
        </p>
      </div>
      <div class="col-lg-2 col-md-6">
        <h5 class="text-white mb-3">Quick links</h5>
        <ul class="list-unstyled text-muted">
          <li><a href="/categories">Categories</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6">
        <h5 class="text-white mb-3">Quick links</h5>
        <ul class="list-unstyled text-muted">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/submit-recipe">Submit</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6">
        <h5 class="text-white mb-3">Newsletter</h5>
        <p class="small text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt.
        </p>
        <form action="#">
          <div class="input-group mb-3">
            <input
              class="form-control shadow-none"
              type="text"
              placeholder="Recipient's username"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              style="background-color: inherit; color: #fff"
            />
            <button class="btn btn-primary" id="button-addon2" type="button">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
<!--Footer Ends-->
