<!--Header Starts-->
<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
>
  <a
    href="/"
    class="d-flex align-items-center col-md-3 mb-md-0 text-dark text-decoration-none"
  >
    <
    <h1>Bakeology</h1>
    /></a
  >

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li>
      <a href="/" class="nav-link px-2 link-secondary">Home</a>
    </li>
    <li>
      <a href="/about" class="nav-link px-2 link-secondary">About</a>
    </li>
    <li>
      <a href="/submit-recipe" class="nav-link px-2 link-secondary">Submit</a>
    </li>
    <li>
      <a href="/contact" class="nav-link px-2 link-secondary">Contact</a>
    </li>
  </ul>

  <div class="col-md-3 text-end">
    <form method="POST" action="/search">
      <input
        type="search"
        name="searchTerm"
        class="form-control shadow-none"
        placeholder="Search..."
        aria-label="Search"
        style="background-color: #fff"
      />
    </form>
  </div>
</header>
<!--Header Ends-->
